

.photo_card_holder {
    position: relative;

    height: 70vh;
    height: 70dvh;
    
    max-width: 500px;
    aspect-ratio: 3/4;

    margin: 0 auto;
    overflow: visible;

    // flex-grow: 0;

}



