

.photo_card_holder {
    position: relative;

    height: 70vh;
    height: 70dvh;
    
    max-width: min(500px, 96%);
    aspect-ratio: 3/4;

    margin: 0 auto;
    overflow: visible;

    


}

.empty {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    padding: 30% 5%;

    font-size: 1.5rem;

    word-wrap: break-word;

    height: 70vh;
    height: 70dvh;
    
    max-width: min(500px, 96%);
    aspect-ratio: 3/4;

    margin: 0 auto;

    color: #fff;
    overflow: visible;
    background: #ffffff40;
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid #ffffff2e;

    .create {
        color: #fff;
        overflow: visible;
        background: #ffffff40;
        // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 1.5rem;
        border: 1px solid #fff;
        
        font-size: 1.5rem;
        font-weight: 400;

        padding: 10px 20px;
        margin-top: 2.5vh;
        margin-top: 2.5dvh;

        text-decoration: none;
        &:visited {
            text-decoration: none;
            color: #fff;
        }
    }
}



