
.image_uploader {
    background: #ffffff40;
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid #ffffff2e;

    padding: 2.5vh 0;

    .images {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        // overflow: hidden;

        margin: 0 6%;

        // align-items: baseline;

        // gap: 5% 1%;
        column-gap: 1%;
        row-gap: 3vh;

        .image_holder {
            border-radius: 10px;
            box-shadow: 0 0 6px #ffffff;
            overflow: hidden;

            .image {
                height: 18vh;
                height: 18dvh;
                width: 13.5vh;
                width: 13.5dvh;
    
            }
        }

        .add_image {
            position: relative;

            background: #ffffff40;
            // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid #ffffff2e;

            height: calc(18vh - 1px);
            height: calc(18dvh - 1px);
            width: calc(13.5vh - 1px);
            width: calc(13.5dvh - 1px);

            // overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 4rem;
            font-weight: 900;
        
            color: #fff;
        }
    }
}