.list {
    max-height: calc(100vh - 7vh - 10vh - 1vh);
    max-height: calc(100dvh - 7dvh - 10dvh - 1dvh);

    overflow-y: scroll;
}

.add_your_dog {
    text-align: center;
    font-size: 2rem;
    color: #fff;

    margin-bottom: 2vh;
}