

.lets_get_it_started_in_here {
    font-size: 3rem;

    width: 80vw;
    margin:auto;
    margin-top: 30vh;

    text-align: center;

    color: #fff;

    .lets_go{
        color: #fff;
        font-size: 2rem;

        .inner {
            font-weight: 400;
            margin: auto;
            margin-top: 2rem;
            width: fit-content;
            border: #fff solid 1px;
            border-radius: 3rem;
            padding: 0 2rem;
            background: rgba( 255, 255, 255, 0.25 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
        }
    }
}