.register {
    font-size: 3rem;

    width: 80vw;
    margin:auto;
    margin-top: 20vh;

    text-align: center;

    color: #fff;
}

.already_have {
    color: #fff;


    margin: auto;
    margin-top: 3vh;
    text-align: center;
    width: fit-content;

    a {
        color: #fff;
        &:visited {
            color: #fff;
            text-decoration: none;
        }
    }
}